* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* grid(s) */
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "message message message message"
        "message message message message"
        "message-form message-form message-form message-form";
}

.header {
    grid-area: header;
}

.message {
    grid-area: message;
    overflow-y: auto;
}

.message-form {
    grid-area: message-form;
}

.textbox {
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    max-width: 40%;
    min-width: 10%;
    width: fit-content;
    height: fit-content;
    box-shadow: #0000007d 2px 3px;
    border-radius: 20px;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 8px;
}

#name {
    border-bottom: 3px black solid;
}

form{
    display: flex;
    justify-content: center;
    padding: 8px;
}

#message2,#username,#password{
    border-radius: 20px;
    border: 2px solid #000;
    margin: 5px;
    width: 60%;
    resize: none;
    padding: 5px;
}

#sendbtn{
    border-radius: 20px;
    border: 2px solid #000;
    margin: 15px;
    height: 25px;
    width: 40px;
}
#imageup{
    border-radius: 20px;
    border: 2px solid #000;
    margin: 15px;
    height: 25px;
    width: auto;
}

.image{
    margin: 20px;
    max-width: 250px;
    height: auto;
}

#loginfrom{
    box-shadow: #0000007d 2px 3px;
    border-radius: 20px;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-direction: column;
    height: 40%;
}

.logincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stittle{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.messaget{
    font-size: 20px;
}